<div data-hook="comment_fields" class="row">
  <div class="field" align='left'>
    <h3><%= f.label :comment, I18n.t('spree.comment') %></h3>
    <%= f.text_area :comment, class: 'form-control' %>
  </div>
</div