<li <%== ' class="active"' if (defined? current and current == 'Comments') %>>
  <% if shipment.comments.any? %>
    <%= link_to_with_icon 'comment', t('spree.comments_count', count: shipment.comments.count), comments_admin_order_shipment_url(shipment,shipment.number) %>
  <% else %>
    <%= link_to_with_icon 'comment', t('spree.comments'), comments_admin_order_shipment_url(shipment,shipment.number) %>
  <% end %>
</li>
